{% extends "base.html" %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
			<a class="brand" href="/">LCARS</a>
			<div class="nav-collapse collapse">
				<p class="navbar-text pull-right">
                {% if user.is_authenticated %}
                Logged in as <a href="/logout/" class="navbar-link">{{ user.username }}</a>
                {% else %}
                    <a href="/login/">Log In</a>
                {% endif %}
				</p>
				<ul class="nav">
					<li> 
						<a href="/">Overview</a>
					</li>
					<li class="dropdown" id="menu1">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Modules <b class="caret"></b> </a>
						<ul class="dropdown-menu">
							<li>
								<a href="/modules/"><b>Module Overview</b></a>
							</li>
							<li class="divider"></li>
                            {% for module in modules %}
							<li>
								<a href="/modules/{{module.id}}"><b>{{ module.module_code }}</b> - <i>{{ module.title }}</i></a>
							</li>
                            {% endfor %}
						</ul>
					</li>
<!--					<li>
						<a href="/coursework">Coursework</a>
					</li>-->
					<li>
					
						<a href="/tests">Tests</a>
					</li>
<!--
					<li>
						<a href="/progress">Progress</a>
					</li>
                    -->
                    {% if user.is_staff %}
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    {% endif %} 
                    <!-- if its not a staff-->
                    {% if user.is_staff == 0 %}
                    <li>
                        <a href="/admin">I am an ADMIN</a>
                    </li>
                    {% endif %} 
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
</div>

{% endblock %}
