{% extends "base_navbar.html" %}

{% block content %}
    <div class="well" style="padding:10px">
        <h3>{{module.title}} ({{module.module_code}})</h3>
        <p>{{module.description}}</p>
    </div>
    {% for lecture in lectures %}
    {% cycle '<div class="row-fluid">' '' '' '' '' '' %}
        <div class="span2">
        {% if lecture.video.videothumbnail_set.all %}
        	{% with thumbnail=lecture.video.videothumbnail_set.all|random %}
            <a href="/lectures/{{lecture.id}}"><img src="{{ thumbnail.get_absolute_url }}"/></a>
            {% endwith %}
        {% else %}
        	<a href="/lectures/{{lecture.id}}"><img src="http://placehold.it/300x200"/></a>
     	{% endif %}
            <h4><a href="/lectures/{{lecture.id}}">{{lecture.title}}</a></h4>
        </div>
        {% if forloop.last %}
        </div>
        {% else %}
        {%  cycle '' '' '' '</div>' %}
        {% endif %}
    {% endfor %}

{% endblock %}
