{% extends "base_navbar.html" %}

{% block content %}


<script>
$(document).ready(function(){
	var i = 0
  	var progresspump = setInterval(function(){
  		console.log("Iterated %i", i)
  		i++
  		$.get("/videos/{{ lecture.video.id }}/progress", function(data){
  			console.log(data);
  			json = $.parseJSON(data)
  			var progress = json[0]['fields']['conversion_progress']
  			var converting = json[0]['fields']['converting']
  			console.log(progress)
  			if(progress == 100 && converting==false){
  				clearInterval(progresspump);
  				if($('#progress').length > 0){
  					window.location.reload()
  				}
  				$("#progress-div").hide()
  			}
  			$("#progress").css('width',progress+'%');
  		})
  	}, 1000);
});
	
</script>


<div class="well">
<h2>{{lecture.title}}</h2>
<p>{{lecture.description}}</p>
</div>

<div class="row-fluid">
    <div class="span8">
        <!--<link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
        <script src="http://vjs.zencdn.net/c/video.js"></script>-->
		{% if lecture.video.converting %}
		<h3>Converting, please bear with us...</h3>
        <video id="my_video_1" class="video-js vjs-default-skin" preload="auto" width="624" 
       		height="352" data-setup='{}' style="background-color: #FFFFFF;" poster="{{ STATIC_URL }}img/dancing.gif">
        {% else %}
        <video id="my_video_1" class="video-js vjs-default-skin" style="background-color: #000000;" controls preload="auto" width="624" height="352" 
        data-setup='{}'>
        {% endif %}
        	{% for vf in lecture.video.videoformat_set.all %}
        			<source src="{{ vf.get_absolute_url }}" type="video/{{ vf.format }}"/>
        	{% endfor %}
        </video>
        {% if lecture.video.conversion_progress != 100.0 %}
        <h3>Conversion Progress: </h3>
        <div class="progress progress-striped active" id="progress-div">
  			<div class="bar" id="progress" style="width: {{ lecture.video.conversion_progress }}%;"></div>
		</div>
		{% endif %}
        
    </div>
</div>

<div class="row-fluid">
    <div class="span4">
        <h3>Lecture Materials</h3>
        	<a class="btn" href="{{ lecture.get_absolute_url }}attachments/create">Add<i class="icon-plus"></i>
			</a>
        	{% if attachments %}
        	<a class="btn" href="{{ lecture.get_absolute_url }}attachments/download">
				ZIP
				<i class="icon-download-alt">
				</i>
			
			</a>
            <div style="margin-top: 5px;">
                <ul>
                {% for attachment in attachments %}
                <li>
                	<a href="{{ attachment.get_latest_revision.get_absolute_url }}download">{{attachment.file_name}}</a> - 
                	<a href="{{ attachment.get_absolute_url }}">revisions</a>
                </li>
                {% endfor %}
                </ul>
                </div>
    {% endif %}
    </div>


{% if links %}
    <div class="span4">
        <h3>Relevant Links</h3>
                <ul>
                {% for link in links %}
                <li><a href="{{link.link}}">{{link.title}}</a></li>
                {% endfor %}
                </ul>
    </div>
{% endif %}

{% if test %}
    <div class="span4">
        <h3>Test</h3>
                <p><a href="/tests/{{test.id}}" class="btn btn-primary">Take Test</a></p>
                <ul>
                {% for result in test_results %}
                <li><span class="badge  {% if result.test_score >= 70 %} badge-success {% elif result.test_score >= 40 %} badge-warning {% else %} badge-important {% endif %}">{{result.test_score}}%</span> - {{result.time_completed|date:"SHORT_DATE_FORMAT"}}</li>
                {% endfor %}
                </ul>
    </div>
{% endif %}
</div>
{% endblock %}


