{% extends "base_navbar.html" %}
{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/datepicker.css"/>

<script src="{{ STATIC_URL }}js/jquery.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
<form enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
  {{lecture_form.as_p}}
  {{video_form.as_p}}
	<input type="submit" value="Submit" class="btn"/>
</form>
<script>$(document).ready($('.datepicker').datepicker());</script>
{% endblock %}
