{% extends "base_navbar.html" %}

{% block content %}


<script>
$(document).ready(function(){
	var i = 0
  	var progresspump = setInterval(function(){
  		console.log("Iterated %i", i)
  		i++
  		$.get("/videos/{{ lecture.video.id }}/progress", function(data){
  			console.log(data);
  			json = $.parseJSON(data)
  			var progress = json[0]['fields']['conversion_progress']
  			var converting = json[0]['fields']['converting']
  			console.log(progress)
  			if(progress == 100 && converting==false){
  				clearInterval(progresspump);
  				if($('#progress').length > 0){
  					window.location.reload()
  				}
  				$("#progress-div").hide()
  			}
  			$("#progress").css('width',progress+'%');
  		})
  	}, 1000);
});
	
</script>


<div class="well">
<h2>{{lecture.title}}</h2>
<p>{{lecture.description}}</p>
</div>

<div class="row-fluid">
    <div class="span8">
        <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
        <script src="http://vjs.zencdn.net/c/video.js"></script>

        <video id="my_video_1" class="video-js vjs-default-skin" controls preload="auto" width="624" height="352" data-setup="{}">
        	{% for vf in lecture.video.videoformat_set.all %}
        			<source src="{{ vf.get_absolute_url }}" type="video/{{ vf.format }}"/>
        	{% endfor %}
        </video>
        {% if lecture.video.conversion_progress != 100.0 %}
        <h3>Conversion Progress: </h3>
        <div class="progress progress-striped active" id="progress-div">
  			<div class="bar" id="progress" style="width: {{ lecture.video.conversion_progress }}%;"></div>
		</div>
		{% endif %}
        
    </div>
</div>

<div class="row-fluid">
    {% if attachments %}
    <div class="span4">
        <h3>Lecture Materials 
        	<a class="btn" href="{{ lecture.get_absolute_url }}attachments/download">
				ZIP
				<i class="icon-download-alt">
				</i>
			</a>
        </h3>
                <ul>
                {% for attachment in attachments %}
                <li><a href="/attachments/{{attachment.id}}">{{attachment.file_name}}</a></li>
                {% endfor %}
                </ul>
    </div>
{% endif %}

{% if links %}
    <div class="span4">
        <h3>Relevant Links</h3>
                <ul>
                {% for link in links %}
                <li><a href="{{link.link}}">{{link.title}}</a></li>
                {% endfor %}
                </ul>
    </div>
{% endif %}

{% if test %}
    <div class="span4">
        <h3>Relevant Links</h3>
                <ul>
                {% for link in links %}
                <li><a href="{{link.link}}">{{link.title}}</a></li>
                {% endfor %}
                </ul>
    </div>
{% endif %}
</div>
{% endblock %}


