{% extends "base_navbar.html" %}

{% block content %}


<div class="row-fluid">
    <div class="well">
        <h2>LCARS - User Management</h2>
        <div id="create-user-modal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Create User</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>  
        <a href="/management/users/create" class="btn btn-small" data-toggle="modal" data-target="#create-user-modal"><i class="icon-user"></i> New User</a>
    </div>
    {% if user_list %}
    <!--Update user modal dialog-->
        <div id="update-user-modal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Update User</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>  
    <table class="table table-striped">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Last Login</th>
            <th>Edit</th>
        </tr>
        {% for user in user_list %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.last_login }}</td>
            <td><a data-toggle="modal" data-target="#update-user-modal" href="/management/users/{{user.id}}/update"><i class="icon-edit"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}