{% extends "base_navbar.html" %}

{% block content %}


<div class="row-fluid">
    <div class="well">
        <h2>LCARS - Module Management</h2>
        <div id="create-course-modal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>New</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>  
        <a href="/modules/create/" class="btn btn-small" data-toggle="modal" data-target="#create-course-modal"><i class="icon-plus-sign"></i> New Module</a>
    </div>
    {% if module_list %}
    <!--Update user modal dialog-->
        <div id="update-module-modal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Modify Module</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>  
    <table class="table table-striped">
        <tr>
            <th>Module Title</th>
            <th>Module Code</th>
            <th>Module Description</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for module in module_list %}
        <tr>
            <td><a href="/management/modules/{{module.id}}/lectures">{{ module.title }}</td>
            <td>{{ module.module_code }}</td>
            <td>{{ module.description }}</td>
            <td><a data-toggle="modal" data-target="#update-module-modal" href="/management/courses/{{course.id}}/update"><i class="icon-edit"></i></a></td>
            <td><a data-toggle="modal" data-target="#update-module-modal" href="/management/modules/{{module.id}}/delete"><i class="icon-remove"></i></a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}