{% extends "base_navbar.html" %}

{% block content %}
    <a href="#newModuleModal" role="button" class="btn" data-toggle="modal" data-remote="/modules/create">Create Module</a>
    {% for module in modules %}
    {% cycle '<div class="row-fluid">' '' '' %}
        <div class="span4 well" style="padding: 10px">
            <h2>{{ module.title  }}</h2>
            <p>{{ module.description }}</p>
            <p> <a class="btn" href="/modules/{{ module.id }}">View module &raquo;</a> </p>
        </div>
        {% if forloop.last %}
    	</div>
    	{% else %}
        {%  cycle '' '' '</div>' %}
        {% endif %}
    {% endfor %}


<div id="newModuleModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="newModuleModal" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="newModuleModalHeader">Create new module</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

{% endblock %}
