{% extends "base_navbar.html" %}

{% block content %}
<div class="well">
    <h1>{{module.title}}</h1>
    <p>{{module.description}}</p>
</div>

<div class="row-fluid">
        <div class="span4">
            <h2>Lectures</h2>
            <p>Click here for breakdown of the lectures for {{module.title}}. From here, you can access lecture videos, sides and any additional information.</p>
            {% if lectures %}
            <p><a class="btn" href="/modules/{{module.id}}/lectures">View Lectures &raquo;</a></p>
            {% endif %}
            <p><a class="btn" href="{{module.get_absolute_url}}lectures/create">Create Lecture &raquo;</a></p>
        </div>
    {% if attachments %}
        <div class="span4">
            <h2>Module Materials</h2>
            <p>Click here to access module materials for {{ module.title }}</p>
            <p><a class="btn" href="/modules/{{module.id}}/attachments">View Materials &raquo;</a></p>
        </div>
    {% endif %}

    {% if faq %}
        <div class="span4">
            <h2>FAQ</h2>
            <p>Click here to view {{ module.title }}</p>
            <p><a class="btn" href="/modules/{{module.id}}/faqs">View FAQs &raquo;</a></p>
        </div>
    {% endif %}

    {% if links %}
        <div class="span4">
            <h2>Module Links</h2>
            <ul>
                {% for link in links %}
                <li><a href="{{link.link}}">{{link.title}}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if tests %}
    <div class="span4">
        <h2>Tests</h2>
        <p>
            View a summary of all tests available for this module, including a breakdown of your marks.
        </p>

        <p><a class="btn" href="/modules/{{module.id}}/tests">View Tests &raquo;</a></p>
    </div>
    {% endif %}
</div>

{% endblock %}
