{% extends "base_navbar.html" %}

{% block content %}
<div class="well">
<h2>Welcome to LCARS</h2>
<p>LCARS is a centralised online learning system. You can use LCARS to access Lecture Videos, take tests, ask questions and submit coursework.</p>
</div>

<div class="row-fluid">
    {% if announcements %}
    <div class="span4">
        <h2>Announcements</h2>
        <ul>
        {% for announcement in announcements  %}
            <li><a href="#{{announcement.id}}" role="button" data-toggle="modal">{{ announcement.title }}</a></li>
                <div id="{{announcement.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{announcement.id}}Label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="{{announcement.id}}Label">{{announcement.title}}</h3>
                        <span>Posted by <i>{{announcement.owner}}</i> on <i>{{announcement.valid_from}}</i></span>
                    </div>
                    <div class="modal-body">
                        <p>{{ announcement.body }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if recent %}
    <div class="span4">
        <h2>Recently Viewed</h2>
        <ul>
        {% for activity in activities  %}
            <li></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}


