{% extends "base_navbar.html" %}

{% block content %}

{% if courses %}
<div class="row-fluid">
    <h2>Courses <small>All courses you're enrolled on</small> </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Code</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td class="lead">{{ course.title }}</td>
                    <td><span class="label">{{ course.code }}</span></td>
                    <td><p>{{ course.description }}</p></td>
                    <td><a href="/courses/{{course.id}}" class="btn btn-small"><i class="icon-eye-open"></i> View Modules</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endif%}

<div class="row-fluid">
	<div class="span3">
        <!--Create Announcement modal dialog-->
        <div id="create-announcement-modal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Create Anouncement</h3>
            </div>
            <div class="modal-body">
                <p>One fine body…</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn">Close</a>
            </div>
        </div>	
    {% if announcements %}
    

        <h3>Announcements</h3>
        <ul>
        {% for announcement in announcements  %}
            <li><a href="#{{announcement.id}}" role="button" data-toggle="modal">{{ announcement.title }}</a></li>
                <div id="{{announcement.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{announcement.id}}Label" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="{{announcement.id}}Label">{{announcement.title}}</h3>
                        <span>Posted by <i>{{announcement.owner}}</i> on <i>{{announcement.creation_date}}</i></span>
                    </div>
                    <div class="modal-body">
                        <p>{{ announcement.body }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>
        {% endfor %}
        </ul>
    {% else %}
        <h3>Announcements</h3>
        	 No Announcements Yet <br />
		<br />
    {% endif %} 

    {% if user.is_staff %}
    <button href="/announcement/create" type="button" class='btn btn-small' data-toggle="modal" data-target="#create-announcement-modal"><i class="icon-plus-sign"></i> New Announcement</button>
    {% endif %}
</div>
    {% if recent %}
    <div class="span3">
        <h2>Recently Viewed</h2>
        <ul>
        {% for activity in activities  %}
            <li></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if courses %}

    {%for course in courses%}
    <div class="span3">
        <h2>{{course.title}}</h2>
        <p>
            {{course.description}}
        </p>
        <a href="/courses/{{course.id}}" class="btn btn-small"><i class="icon-eye-open"></i> View Modules</a>
    </div>
    
    {%endfor%}

    {%endif%}
</div>

{% endblock %}


