{% extends "base_navbar.html" %}

{% block content %}

<!-- Need to add a sidebar -->
<div class="well">
	<h3>{{ test.title }}</h2>
	<p>{{ test.description }}</p>
</div>
	<div class="row-fluid">
             		<div class="well">
                		<form action="" method="POST" >
                      {%csrf_token%}
                  			<fieldset>
                    				<div id="legend" class="">
                      					<legend class="">Question {{forloop.counter}}</legend>
                					<p>{{ question.content }}</p>
                    				</div>
                    					<!-- Multiple Radios -->
                  					

							{{ testform.as_p  }}


  <input type="submit" value="Submit" style="float: right;" class="btn btn-primary btn-large"/>

                				</div>
            	      			</fieldset>
               			</form> 
                 	</div>
                </div>
        <div>
        </div>
{% endblock %}
