{% extends "base_navbar.html" %}

{% block content %}

<!-- Need to add a sidebar -->
<div class="well">
	<h3>{{ test.title }}</h2>
	<p>{{ test.description }}</p>
</div>
{% for question in questions %}
	<div class="row-fluid">
        	<div class="span12">
             		<div class="well">
                		<form class="form-horizontal">
                  			<fieldset>
                    				<div id="legend" class="">
                      					<legend class="">Question {{forloop.counter}}</legend>
                					<p>{{ Question }}</p>
                    				</div>
						{% for answer in question.answer_set.all %}
                  					<div class="control-group">
                        					<label class="control-label">Answer</label>
                        					<div class="controls">
                    						<!-- Multiple Radios -->
                    							<label class="radio">
                      								<input type="radio" value={{answer}} name="q" {{forloop.counter}}>
                      									{{answer}}
                    							</label>
                  						</div>
                					</div>
						{% endfor %}
            	      			</fieldset>
               			</form> 
                 	</div>
                </div>
	</div>
{% endfor %}
{% endblock %}
