{% extends "base_navbar.html" %}

{% block content %}

<div class="row-fluid">
  <div class="well"><h2>All Tests - {{user}}</h2></div>
</div>

<div class="row-fluid">

  {% if duetests %}
  <div class="span4">
    <h3>Due Tests</h3>
    <ul>
      {% for duetest in duetests %}
      <li><a href="/tests/{{duetest.id}}">{{duetest.title}}</a></li>
      {%endfor%}
    </ul>
  </div><!--/span-->
  {% endif %}

  {% if top_results %}
  <div class="span4">
    <h3>Top 5 Module Results</h3>
    <ul style="list-style-type: none;">
      {% for top_result in top_results %}
      <li><span class="badge {% if top_result.1 >= 70 %} badge-success {% elif top_result.1 >= 40 %} badge-warning {% else %} badge-important {% endif %}">{{top_result.1}}%</span> <a href="/test/{{top_result.test.id}}">{{top_result.0.title}}</a></li>
      {% endfor %}
    </ul>
  </div><!--/span-->
  {% endif %}

  {% if bottom_results %}
  <div class="span4">
    <h3>Bottom 5 Module Results</h3>
    <ul style="list-style-type: none;">
      {% for bottom_result in bottom_results %}
      <li><span class="badge {% if bottom_result.1 >= 70 %} badge-success {% elif bottom_result.1 >= 40 %} badge-warning {% else %} badge-important {% endif %}">{{bottom_result.1}}%</span> <a href="/test/{{bottom_result.test.id}}">{{bottom_result.0.title}}</a></li>
      {% endfor %}
    </ul>
  </div><!--/span-->
  {% endif %}

</div><!--/row-->

<div class="row-fluid">
  <div class="span12">
    <h2>All Tests</h2>
    <table class="table table-striped">
      <thead>
        <th>Lecture</th>
        <th>Test Title</th>
        <th>Best Mark</th>
        <th>Re-take</th>
      </thead>
      {% for test in tests_with_max %}
      <tr>
        <td><a href="/lectures/{{test.0.lecture.id}}">{{test.0.lecture.title}}</a></td>
        <td><a href="/tests/{{test.0.id}}">{{test.0.title}}</a></td>
        <td>{%if test.1 %}<span class="badge  {% if test.1 >= 70 %} badge-success {% elif test.1 >= 40 %} badge-warning {% else %} badge-important {% endif %}">{{test.1}}%</span>{% endif %}</td>
        <td><a href="/tests/{{test.0.id}}" class="btn btn-primary btn-mini"><i class="icon-white icon-repeat"></i></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>



{% endblock %}