.project
.pydevproject
*.pyc
*.swp
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
.pydevproject
CM2301/.DS_Store
.settings
*.db
*.sqlite
CM2301/assets*
